.header {
    width: 100%;
    overflow: hidden;   
    max-height: 6em;
}

.card {
    background-color: white;
    width: 20em;
    height: 12em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.logo {
    height: 100px;
    width: 100px;
    float: left;
}

.title {
    margin-left: 5em;
    margin-top: 1em;
}

.patientName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1em;
    color: rgba(18,37,70,255);
}

span {
    display:inline-block;
}
